:root {
  --md-primary-fg-color: #141f2e;
  --md-primary-fg-color--light: #141f2e;
  --md-primary-fg-color--dark: #141f2e;
}

.md-header {
  color: white;
  background-color: #141f2e;
}

.md-tabs {
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
}

a {
  text-decoration: underline;
}
